<% content_for :page_title do %>
  <% @page_title = "Hosts" %>
  <h1>Hosts</h1>
<% end %>

<% content_for :breadcrumb do %>
  <%= breadcrumb_box do %>
    <%= link_to "Hosts", hosts_path %>
  <% end %>
<% end %>

<section>
  <h2><%= pluralize(Host.count, 'Host')%> listed</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Stages</th>
        <th>Roles</th>
      </tr>
    </thead>
    <tbody>
      <% @hosts.each do |host| %>
        <tr>
          <td><%= link_to host.name, host %></td>
          <td><%= host.stages.count %></td>
          <td><%= host.roles.count %></td>
          <% if current_user.admin? %>
            <td><%= link_to 'Edit', [:edit, host] %></td>
            <td><%= link_to 'Delete', host, data: { confirm: 'Are you sure?' }, method: :delete %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <% if current_user.admin? %>
    <p><%= link_to 'New host', new_host_path %></p>
  <% end %>
</section>
