<% content_for :page_title do %>
  <% @page_title = "Host #{@host.name}" %>
  <h1>Host <%= @host.name %></h1>
<% end %>

<% content_for :breadcrumb do %>
  <%= breadcrumb_box do %>
    <%= link_to "Hosts", hosts_path %>
    <span class="divider">&raquo;</span>
    <%= link_to @host.name, host_path(@host) %>
  <% end %>
<% end %>

<section>
  <dl class="dl-horizontal">
    <dt>Name:</dt>
    <dd><%= @host.name %></dd>

    <dt>Stages:</dt>
    <dd><%= @host.stages.uniq.size %></dd>

    <dt>Roles:</dt>
    <dd><%= @host.roles.count %></dd>
  </dl>

  <% if current_user.admin? %>
    <div>
      <%= link_to 'Edit Host', edit_host_path(@host), :class => 'arrow_link' %> |
      <%= link_to 'Delete', host_path(@host), :data => { :confirm => 'Are you sure?' }, :method => :delete, :class => 'arrow_link'  %>
    </div>
  <% end %>
</section>

<section>
  <h2>Stages</h2>
  <%= render partial: 'stages' %>
</section>
