- flashed_errors(:user)

%p
  %b Login
  %br/
  = f.text_field :login, :style =>'width:330px;'

%p
  %b Email
  %br/
  = f.text_field :email, :style =>'width:330px;'

%p
  %b Password
  %br/
  = f.password_field :password, :style =>'width:330px;'

%p
  %b Password confirmation
  %br/
  = f.password_field :password_confirmation, :style =>'width:330px;'

%p
  %b Timezone
  %br/
  = f.time_zone_select :time_zone, ActiveSupport::TimeZone.all, {},{:style => "width:330px;"}

- if user_signed_in? && current_user.admin?
  %p
    %b Admin?
    %br/
    = f.check_box :admin, :class => 'noframe'
