<% flashed_errors(:user) %>
<p>
  <b>Login</b><br />
  <%= f.text_field :login, :style =>'width:330px;' %>
</p>

<p>
  <b>Email</b><br />
  <%= f.text_field :email, :style =>'width:330px;' %>
</p>

<p>
  <b>Password</b><br />
  <%= f.password_field :password, :style =>'width:330px;' %>
</p>

<p>
  <b>Password confirmation</b><br />
  <%= f.password_field :password_confirmation, :style =>'width:330px;' %>
</p>

<p>
  <b>Timezone</b><br />
  <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.all, {},{:style => "width:330px;"} %>
</p>

<% if user_signed_in? && current_user.admin? -%>
  <p>
    <b>Admin?</b><br />
    <%= f.check_box :admin, :class => 'noframe' %>
  </p>
<% end -%>
