<%= form_for(@user) do |f| %>

  <%= render('form', :f => f)%>

  <%= link_to 'Back to user', @user, :class => 'arrow_link ontheright', :style => 'margin-right: 330px' %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<% content_for(:breadcrumb) do %>
  <%= breadcrumb_box do %>
    <%= link_to "Back to user", user_path(@user), :style => "float:right", :class => "arrow_link" %>
    <%= link_to "Users", users_path %> &gt;
    User <%= link_to @user.login, user_path(@user) %> &gt;
    Edit user <%= link_to @user.login, user_path(@user) %>
  <% end %>
<% end %>

<% content_for(:page_title) do %>
  <% @page_title = "Edit user #{@user.login}" %>
  <h2>Edit user <%= user_info(@user)%></h2>
<% end %>
