<% if @project.configuration_parameters.empty? %>
  <p>
    No project wide configuration added yet.<br />
    Project configuration is overridden by stage configurations.
  </p>
<% else %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Value</th>
        <th>Prompt?</th>
      </tr>
    </thead>
    <tbody>
      <% for config in @project.configuration_parameters %>
        <tr>
          <td><%= truncate(config.name, length: 25) %></td>
          <td><%= truncate(hide_password_in_value(config), length: 45) %></td>
          <td><%= config.prompt_status_in_html %></td>
          <td><%= link_to 'Edit', edit_project_project_configuration_path(@project, config) %></td>
          <td><%= link_to 'Delete', project_project_configuration_path(@project, config), data: { confirm: 'Are you sure?' }, method: :delete %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
