<% content_for(:page_title) do %>
  <% @page_title = "Welcome to Webistrano" %>
  <h1>Welcome to Webistrano</h1>
<% end %>

<section>
  <h2>Recent deployments</h2>
  <% if @deployments.empty? %>
    <p>No recent deployments.</p>
  <% else %>
    <%= render partial: 'deployments/list', locals: { deployments: @deployments} %>
  <% end -%>
</section>

<section>
  <h2>Recent activities</h2>
  <% if @activities.empty? %>
    <p>No recent activities.</p>
  <% else %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Model</th>
          <th>Tag</th>
          <th>User</th>
          <th>Date</th>
          <th>Changes</th>
        </tr>
      </thead>
      <tbody>
        <% @activities.each do |activity| %>
        <tr>
          <td><%= link_to truncate(activity.target_type, :length => 21), any_path(activity.target) %></td>
          <td><%= activity.tag %></td>
          <td><%= link_to activity.user.login, user_path(activity.user) %></td>
          <td><%= activity.created_at.to_s(:log) %></td>
          <td>
            <%- if activity.tag !~ /created\Z/ && activity.data['changes'] %>
              <ul class="unstyled">
                <%- activity.data['changes'].keys.each do |key| %>
                  <li><%= key %>
                    <ul>
                      <li>Old: <%= activity.data['changes'][key][0] || 'nil' %></li>
                      <li>New: <%= activity.data['changes'][key][1] || 'nil' %></li>
                    </ul>
                  </li>
                <%- end %>
              </ul>
            <%- end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</section>
