<% content_for(:page_title) do %>
  <% @page_title = "Projects" %>
  <h1>Projects</h1>
<% end %>
<% content_for(:breadcrumb) do %>
  <%= breadcrumb_box do %>
    <li class="active">Projects</li>
  <% end %>
<% end %>

<section>
  <h2><%= pluralize(Project.count, 'Project')%> listed</h2>

  <% if @projects.empty? %>
    No projects configured yet.<br />
    <%= link_to 'New project', new_project_path %>
  <% else %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Stages</th>
          <th>Deploy</th>
          <th>Created</th>
        </tr>
      </thead>
      <tbody>
        <% @projects.each do |project| %>
          <tr>
            <td><%= link_to project.name, project_path(project) %></td>
            <td><%= project.description %></td>
            <td><%= project.stages.count %></td>
            <td><%= project.deployments.count %></td>
            <td><%= project.created_at.to_s(:date_with_day) %></td>
            <td><%= link_to 'Edit', edit_project_path(project) %></td>
            <td><%= link_to 'Clone', clone_form_path(project) %></td>
            <td><%= link_to 'Delete', project_path(project), :data => { :confirm => 'Are you sure?' }, :method => :delete %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <p><%= link_to 'New project', new_project_path, :class => 'arrow_link' %></p>
</section>
