<% content_for(:page_title) do %>
  <% @page_title = "Project #{current_project.name}" %>
  <h1>Project <%= link_to current_project.name, project_path(current_project) %></h1>
<% end %>

<% content_for(:breadcrumb) do %>
  <%= breadcrumb_box do %>
    <%= link_to "Projects", projects_path %>
    <span class="divider">&raquo;</span>
    <%= current_project.name %>
  <% end %>
<% end %>

<section>
  <div class="row-fluid">
    <div class="span5">
      <table class="table table-striped">
        <tbody>
          <tr>
            <th>Description</th>
            <td><%= @project.description %></td>
          </tr>
          <tr>
            <th>Project Type</th>
            <td><%= @project.template %></td>
          </tr>
          <tr>
            <th>Deployments</th>
            <td><%= @project.deployments.count %></td>
          </tr>
        </tbody>
      </table>
      <p class="pull-right">
        <%= link_to 'Edit project', edit_project_path(@project), :class => 'arrow_link' %> |
        <%= link_to 'Clone project', clone_form_path(@project), :class => 'arrow_link' %> |
        <%= link_to 'Delete project', project_path(@project), :data => { :confirm => 'Are you sure?' }, :method => :delete %>
      </p>
    </div>

    <div class="span4">
      <% if @project.stages.count > 0 %>
        <dl class="dl-horizontal">
          <dt>Choose a stage:</dt>
          <% for stage in @project.stages %>
            <dd><%= link_to stage.name, project_stage_path(@project, stage), :class => 'arrow_link'  %></dd>
          <% end %>
        </dl>
      <% else %>
        <p>No stage configured yet.</p>
        <%= link_to 'New stage', new_project_stage_path(@project) %>
      <% end %>
    </div>
  </div>
</section>

<section>
  <h2>Project configuration</h2>
  <%= render(:partial => 'configs')%>
  <p><%= link_to 'New configuration', new_project_project_configuration_path(@project) %></p>
</section>

<section>
  <h2>Stages</h2>
  <%= render(:partial => 'stages')%>
  <p><%= link_to 'New stage', new_project_stage_path(@project) %></p>
</section>

<section>
  <h2>Recent Deployments</h2>
  <%= render(:partial => 'deployments')%>
  <br />
</section>

<section>
  <h2>Recent Activities</h2>
  <%= render partial: 'activities/list', locals: { activities: @project.activities } %>
  <br />
</section>
