%table.deployment_block{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}

  %tr
    %td{:align => "right"}
      %b Project:
    %td
      = link_to truncate(deployment.stage.project.name, :length => 21),
        deployment.stage.project, :title => deployment.stage.project.name
    %td{:align => "right"}
      %b User:
    %td
      = link_to truncate(deployment.user.login, :length => 10),
        deployment.user, :title => deployment.user.login
    %td{:align => "right"}
      %b Started:
    %td
      = deployment.created_at.to_s(:log)
    %td{:rowspan => "3", :width => "1"}
      = image_tag('peritor_theme/pixel_grey.gif',
        :width => '1', :height => '50')
    %td{:align => "center", :rowspan => "2", :width => "80"}
      %a{:href => project_stage_deployment_path(deployment.stage.project, deployment.stage, deployment), :title => deployment.status}
        = image_tag("peritor_theme/status_#{deployment.status}_small.gif",
          :width => '53', :height => '40', :border => '0')

  %tr
    %td{:align => "right"}
      %b Stage:
    %td
      = link_to truncate(deployment.stage.name, :length => 19),
        [deployment.stage.project, deployment.stage],
        :title => deployment.stage.name
    %td{:align => "right", :title => "Revision"}
      %b Rev:
    %td{:title => deployment.revision}
      = truncate(deployment.revision, :length =>  10) rescue ''
    %td{:align => "right"}
      %b Duration:
    %td
      = distance_of_time_in_words(deployment.created_at, deployment.completed_at, true) rescue ""

  %tr
    %td{:align => "right"}
      %b Comment:
    %td{:colspan => "3", :title => deployment.description}
      = truncate(deployment.description, :length => 30)
    %td{:align => "right"}
      %b Task:
    %td{:title => deployment.task}
      = truncate(deployment.task, :length => 20)
    %td{:align => "center"}
      = link_to 'Show',
        [deployment.stage.project, deployment.stage, deployment]
