<% content_for :page_title do %>
  <% @page_title = "Deployment history: Project #{current_project.name} - Stage #{current_stage.name} " %>
  <h1>Deployment history of <%= link_to current_stage.name, [current_project, current_stage] %></h1>
<% end %>

<% content_for(:breadcrumb) do %>
  <%= breadcrumb_box do %>
    <%= link_to "Projects", projects_path %>
    <span class="divider">&raquo;</span>
    <%= link_to current_project.name, current_project %>
    <span class="divider">&raquo;</span>
    <%= link_to current_stage.name, [current_project, current_stage] %>
    <span class="divider">&raquo;</span>
    Deployments
  <% end %>
<% end %>

<section>
  <h2>Complete Deployment history</h2>

  <% if @stage.deployments.empty? %>
    <p>This stage was never deployed.</p>
  <% else %>
    <%= render partial: 'deployments/list', locals: { deployments: @stage.deployments } %>
  <% end %>
<br />
</section>

<%= link_to "Back", [current_project, current_stage] %>
