<% content_for :page_title do %>
  <% @page_title = "Deploy stage #{current_stage.name} of project #{current_project.name}" %>
  <h1>Deployment</h1>
<% end %>

<% content_for :breadcrumb do %>
  <%= breadcrumb_box do %>
    <%= link_to "Projects", projects_path %>
    <span class="divider">&raquo;</span>
    <%= link_to current_project.name, current_project %>
    <span class="divider">&raquo;</span>
    <%= link_to current_stage.name, [current_project, current_stage] %>
    <span class="divider">&raquo;</span>
    Deployment
  <% end %>
<% end %>

<% if current_stage.locked? %>
  <% content_for :flash_content do %>
    <%= locking_flash(render partial: 'lock_info', locals: { stage: current_stage, deployment: @deployment }) %>
  <% end %>
<% end %>

<% flashed_errors :deployment %>

<section>
  <div class="row-fluid">
    <%= form_for @deployment, url: project_stage_deployments_path(@project, @stage), html: { class: "form-horizontal" } do |f| %>
    <div class="span6">
      <div class="control-group">
        <%= f.label :task, class: "control-label" %>
        <div class="controls">
          <%= f.text_field :task %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :description, class: "control-label" %>
        <div class="controls">
          <%= f.text_area :description %>
        </div>
      </div>

      <% unless @stage.prompt_configurations.empty? %>
        <% @stage.prompt_configurations.each do |conf| %>
          <div class="control-group">
            <label for="deployment_prompt_config_<%= conf.name %>">Config: <%= conf.name %></label>
            <div class="controls">
              <<i></i>nput type="<%= input_type(conf.name) %>" id="deployment_prompt_config_<%= conf.name %>" name="deployment[prompt_config][<%= conf.name %>]" value="<%= @deployment.prompt_config[conf.name.to_sym]%>" />
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="span3">
      <h3>Deploying hosts</h3>
      <% if @stage.roles.count > 0 %>
        <% for host in @stage.hosts.sort_by{|x| x.name} %>
          <input type="checkbox" value="<%= host.id %>" name="deployment[excluded_host_ids][]" id="deployment_excluded_host_ids_<%= host.id %>" <%= (@deployment.excluded_host_ids.include?(host.id) ? '' : 'checked="checked"' rescue '')%>/>
          <label for="deployment_excluded_host_ids_<%= host.id %>"><%= host.name %></label>
        <% end %>
      <% else %>
        No hosts for this stage!<br /><br />
      <% end %>
    </div>
    <div class="span9">
      <div class="form-actions">
        <%= f.submit class: "btn btn-primary" %>
        <%= f.hidden_field :override_locking %>
        <%= link_to 'Back to stage', project_stage_path(@project, @stage), class: 'btn' %>
      </div>
    </div>
    <% end %>
  </div>
</section>
