<% content_for :page_title do %>
  <% @page_title = "Deployment of stage #{@stage.name} of project #{@project.name}" %>
  <h1>Deployment: <%= @deployment.task %></h1>
<% end %>

<% content_for :breadcrumb do %>
  <%= breadcrumb_box do %>
    <%= link_to "Projects", projects_path %>
    <span class="divider">&raquo;</span>
    <%= link_to current_project.name, current_project %>
    <span class="divider">&raquo;</span>
    <%= link_to current_stage.name, [current_project, current_stage] %>
    <span class="divider">&raquo;</span>
    Deployment
  <% end %>
<% end %>

<section>
  <%= render partial: 'status' %>
</section>

<% content_for :page_scripts do %>
  <script type="text/javascript">

    function check_auto_scroll_log(){
      var scroller = $("auto_scroll_log");
      var bottom_marker = $('back_link_at_the_bottom');

      if(scroller && scroller.checked && bottom_marker){
        bottom_marker.scrollTo();
      }
    }

    function scroll_to_top(){
      if ( $('auto_scroll_log').checked ){
        $('auto_scroll_log').checked = false;
      }

      $('header').scrollTo();
    }

  </script>
<% end %>
